[submodule "external/SimpleBLE"]
	path = external/SimpleBLE
	url = https://github.com/simpleble/simpleble.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
